{% extends 'base.html' %}

{% block content %}
  <h1>Are you sure you want to delete <u>{{ object.title }}</u>?</h1>
  <h4>You will lose all associated data, including your time logs.</h4>

  <form id="activity-del" action="" method="POST">
    {% csrf_token %}
    <a class="btn-floating btn-large waves-effect waves-light" href="{% url 'activity_detail' object.id %}"><i class="material-icons">undo</i></a>
    <input type="submit" value="Delete" class="btn submit confirm-del">
  </form>
{% endblock %}