{% extends 'base.html' %}
{% block content %}

<h1>{{ activity.title }}</h1>

<a href="{% url 'activity_update' activity.id %}">Edit</a>
<a href="{% url 'activity_delete' activity.id %}">Delete</a>

<div class="col s6">
    <h3>Category tags</h3>
      {% for c in activity.categories.all %}
        <div class="card">
          <div class="card-content">
            <span class="card-title">
              {{ c.title }}
            </span>
          </div>
        </div>
      {% endfor %}
  </div>

{% endblock %}