{% extends 'base.html' %}
{% block content %}

{% if object %}
  <h1><i class="medium material-icons">edit</i>&nbsp;{{object.title}}</h1>
{% else %}
  <h1>Add new activity</h1>
{% endif %}

<form action="" method="POST">
  {% csrf_token %}
  <table>
    {{ form.as_table }}
  </table>
  {% if object %}
    <input type="submit" value="Update" class="btn submit">
  {% else %}
    <input type="submit" value="Create" class="btn submit">
  {% endif %}
</form>

<script>
    const catEl = document.getElementById('id_categories');
    M.FormSelect.init(catEl);
</script>

{% endblock %}

