{% extends 'base.html' %}
{% block content %}

<body id="body-about">
    <div id="fullpage">
        <div class="section one">
            <section id="container">
                <h1 id="h1-about"> Prepare to BE EMPWRED </h1>
                <!-- <main> -->
                <div id="summary">
                    <h4> Are you ready to change your life and EMPOWER yourself? EMPWR team has carefully designed a
                        beautiful yet simple application designed
                        to cater towards your needs. A user can utilize the application by adding their activity and log
                        the duration in order to record certain metrics.
                        Once recorded, data will be shown implementing your chosen six pillars of wellness.
                    </h4>
                </div>
            </section>
        </div>
    </div>
    <div class="cont s--inactive">
        <!-- cont inner start -->
        <div class="cont__inner">
            <!-- el start -->
            <div class="el">
                <div class="el__overflow">
                    <div class="el__inner">
                        <div class="el__bg"></div>
                        <div class="el__preview-cont">
                            <h2 class="el__heading">EMPWRED</h2>
                        </div>
                        <div class="el__content">
                            <div class="el__text">EMPWRED</div>
                            <div class="el__close-btn"></div>
                        </div>
                    </div>
                </div>
                <div class="el__index">
                    <div class="el__index-back">1</div>
                    <div class="el__index-front">
                        <div class="el__index-overlay" data-index="1">1</div>
                    </div>
                </div>
            </div>
            <!-- el end -->
            <!-- el start -->
            <div class="el">
                <div class="el__overflow">
                    <div class="el__inner">
                        <div class="el__bg"></div>
                        <div class="el__preview-cont">
                            <h2 class="el__heading">PWR PERSONNEL</h2>
                        </div>
                        <div class="el__content">
                            <div class="el__text">PWR PERSONNEL</div>
                            <div class="el__close-btn"></div>
                        </div>
                    </div>
                </div>
                <div class="el__index">
                    <div class="el__index-back">2</div>
                    <div class="el__index-front">
                        <div class="el__index-overlay" data-index="2">2</div>
                    </div>
                </div>
            </div>
            <!-- el end -->
            <!-- el start -->
            <div class="el">
                <div class="el__overflow">
                    <div class="el__inner">
                        <div class="el__bg"></div>
                        <div class="el__preview-cont">
                            <h2 class="el__heading">THE NEED</h2>
                        </div>
                        <div class="el__content">
                            <div class="el__text">THE NEED</div>
                            <div class="el__close-btn"></div>
                        </div>
                    </div>
                </div>
                <div class="el__index">
                    <div class="el__index-back">3</div>
                    <div class="el__index-front">
                        <div class="el__index-overlay" data-index="3">3</div>
                    </div>
                </div>
            </div>
            <!-- el end -->
            <!-- el start -->
            <div class="el">
                <div class="el__overflow">
                    <div class="el__inner">
                        <div class="el__bg"></div>
                        <div class="el__preview-cont">
                            <h2 class="el__heading">THE SOLUTION</h2>
                        </div>
                        <div class="el__content">
                            <div class="el__text">THE SOLUTION</div>
                            <div class="el__close-btn"></div>
                        </div>
                    </div>
                </div>
                <div class="el__index">
                    <div class="el__index-back">4</div>
                    <div class="el__index-front">
                        <div class="el__index-overlay" data-index="4">4</div>
                    </div>
                </div>
            </div>
            <!-- el end -->
            <!-- el start -->
            <div class="el">
                <div class="el__overflow">
                    <div class="el__inner">
                        <div class="el__bg"></div>
                        <div class="el__preview-cont">
                            <h2 class="el__heading">FUTURE DESIGNS</h2>
                        </div>
                        <div class="el__content">
                            <div class="el__text">FUTURE DESIGNS</div>
                            <div class="el__close-btn"></div>
                        </div>
                    </div>
                </div>
                <div class="el__index">
                    <div class="el__index-back">5</div>
                    <div class="el__index-front">
                        <div class="el__index-overlay" data-index="5">5</div>
                    </div>
                </div>
            </div>
            <!-- el end -->
        </div>
        <!-- cont inner end -->
    </div>

</body>

<!-- Shout out to https://twitter.com/NikolayTalanov for this amazing slide transistions! -->

<script>

    var $cont = document.querySelector('.cont');
    var $elsArr = [].slice.call(document.querySelectorAll('.el'));
    var $closeBtnsArr = [].slice.call(document.querySelectorAll('.el__close-btn'));

    setTimeout(function () {
        $cont.classList.remove('s--inactive');
    }, 200);

    $elsArr.forEach(function ($el) {
        $el.addEventListener('click', function () {
            if (this.classList.contains('s--active')) return;
            $cont.classList.add('s--el-active');
            this.classList.add('s--active');
        });
    });

    $closeBtnsArr.forEach(function ($btn) {
        $btn.addEventListener('click', function (e) {
            e.stopPropagation();
            $cont.classList.remove('s--el-active');
            document.querySelector('.el.s--active').classList.remove('s--active');
        });
    });


</script>

{% endblock %}