{% extends 'base.html' %}
{% block content %}
<br>


<body>
    <section id= "container"> 
        <header>
            <h1> <a id = "white">WE ARE EM</a><a id ="blue">PWR</a>ED </h1>
                    <br><br><br><br>
        </header>

        <a href ="#PAmain"><h5>Team</h5></a> 
        <a href ="#values"><h5> Our Values</h5></a> 
        <a href ="#ourcontacts"><h5>Contact Us</h5></a> 
    <br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br>
    
    <main>
        <h4 id = "OurTeam" > </h4>
        <section id = "PAmain">
            <br>
            <h4> Paolo </h4>
            <h5>Doc Manager</h5> 
            <img class="headshot" src = "https://i.imgur.com/5esrU9r.png">    
            <h4> Will </h4>
            <h5>Scrum Master</h5> 
            <img class="headshot" src = "https://i.imgur.com/q0Ka2wN.png"> 
            <h4> Ripley </h4>
            <h5>Github Manager</h5> 
            <img class="headshot" src = "https://i.imgur.com/lIXO071.png">
            <br>
        </section>
        <br><br><br><br><br><br><br><br><br><br>
        <br><br><br><br><br><br><br><br><br><br>
        <br><br><br><br><br><br><br><br><br><br>
        <br><br><br><br><br><br><br><br><br><br>
        <section id = "values"> </section>
        <br><br><br><br><br><br><br><br><br>
        <br><br><br><br><br>
       
        <h3> <strong>OUR VALUES</strong> </h3>
        <ul>
            <h5 class="pao"> Gratitude </h5> 
            <h5 class="pao"> Respect </h5>
            <h5 class="pao"> Open-mindedness </h5>
            <h5 class="pao"> Courage </h5>
        </ul>
        </section>
        <br><br><br><br><br>
        <br><br><br><br><br><br><br><br><br><br>
        <br><br><br><br><br><br><br><br><br><br>
    </main>


    <footer>
       
        <section id = "ourcontacts">
            <h4> <strong>Contact Info</strong> </h4>
            <h5> ripleyjmayfield@gmail.com </h5>
            <br>
            <h5> https://www.linkedin.com/in/paoloang/ </h5>
        </section>
        <br><br><br><br><br><br><br><br><br><br>

    </footer>
</body>
  </section>


{% endblock %}