{% extends 'base.html' %}
{% block content %}
<head>

</head>
<br>


<body>
    <section id= "container"> 
        <main>
            <h1> <a id = "white">WE ARE EM</a><a id ="blue">PWR</a>ED </h1>
            <br><br><br><br>
        </main>
    
        <a href ="#ourteam"><h5>Team</h5></a> 
        <a href ="#values"><h5> Our Values</h5></a> 
        <a href ="#ourmission"><h5>Our Mission</h5></a> 
      <br><br><br><br><br><br><br><br>
    </section>
    <br><br><br><br><br><br><br><br><br>
    <!-- <h4> <strong>OUR TEAM</strong> </h4> -->
    <footer id="ourteam">
        <br><br>
        <h4> <strong>OUR TEAM</strong> </h4>
        <img class="headshot" src = "https://i.imgur.com/5esrU9r.png">    
        <img class="headshot" src = "https://i.imgur.com/q0Ka2wN.png"> 
        <img class="headshot" src = "https://i.imgur.com/lIXO071.png">
       
    </footer>
    
    <br><br><br><br>
    <section id = "values"></section>
    <br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br>
    <h4> <strong>OUR VALUES</strong> </h4>
    <ul>
        <li class="pao"> Gratitude </li> 
        <li class="pao"> Respect </li>
        <li class="pao"> Open-mindedness </li>
        <li class="pao"> Courage </li>
    </ul>
    </section>
    <br><br><br><br><br>
    
</body>


{% endblock %}