{% extends 'base.html' %}
{% block content %}

<main class="container-wkb">
    <section id='home-bg'>
        <video playsinline autoplay muted poster="https://i.imgur.com/EyHYbJu.jpg" id="bgvid">
            <source src="https://i.imgur.com/pVAOcAa.mp4" type="video/webm">
        </video>
        <a href="{% url 'dashboard' %}">
            <input id="home-logo" type="image" src="https://i.imgur.com/gptIlOk.png?1" class="blob fadeButton myButton" >
        </a>
    </section>
</main>

<script>
    $(window).on('load', function () {
        $('.fadeButton').delay(9250).fadeIn()
    })
</script>

{% endblock %}