
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
}

main {
    flex: 1 0 auto;
    margin: 0;
}

nav, footer.page-footer {
    background-color: black;
}


#daily-quote {
    font-size: 32px;
}

.btn-floating.category {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-height: 75px;
    min-width: 75px;
    /* margin: 35px; */
}

.btn-floating.category > div {
    margin: 0;
}



/* .circle-wrapper {
    width:100%;
    height:501px;
    border-radius:51%;
    position:relative;
    margin:auto;
 } */
 
 .circle {
    display:block;
    position:absolute;
    top:51%;
    left:51%;
    width:70px;
    height:70px;
    margin:-51px;
    background:red;
    border-radius:51%;
    text-align:center;
    line-height:100px;
 }
 
 
 
 .Mental {
    transform:rotate(0deg) translate(251px) rotate(0deg);
 }
 
 .Emotional {
    transform:rotate(60deg) translate(251px) rotate(-60deg);
 }
 
 .Environmental {
    transform:rotate(120deg) translate(251px) rotate(-120deg);
 }
 
 .Physical {
    transform:rotate(180deg) translate(251px) rotate(-180deg);
 }
 
 .Spiritual{
    transform:rotate(240deg) translate(251px) rotate(-240deg);
 }
 
 .Social {
    transform:rotate(300deg) translate(251px) rotate(-300deg);
 }
 
 
#dashboard {
    display: flex;
    justify-content: center;
    position: relative;
    height: auto;
}

#radar {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.circlewrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}













/* Will's CSS  */









































































/* Ripley's CSS  */










































































/* Paolo's CSS  */

