@import "compass/css3";

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
    margin: 0;
}

nav, footer.page-footer {
    background-color: black;
}

body #home-bg {
    background-image: url('https://i.imgur.com/RL9jHCZ.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 90vh;
    min-width: 100vh;
    margin: 0;
}

#daily-quote {
    font-size: 32px;
}

.btn-floating.category {
    /* display: inline-flex;
    align-items: center;
    justify-content: center; */
    min-height: 175px;
    min-width: 175px;
    margin: 35px;
}

.btn-floating.category > div {
    margin: 0;
}




.circle-wrapper {
    width:501px;
    height:501px;
    border-radius:51%;
    background:Chartreuse;
    position:relative;
    margin:100px;
 }
 
 .circle {
    display:block;
    position:absolute;
    top:51%;
    left:51%;
    width:100px;
    height:100px;
    margin:-51px;
    background:red;
    border-radius:51%;
    text-align:center;
    line-height:100px;
 }
 
 
 
 .Mental {
    transform:rotate(46deg) translate(251px) rotate(-46deg);
 }
 
 .Emotional {
    transform:rotate(91deg) translate(251px) rotate(-91deg);
 }
 
 .Environmental {
    transform:rotate(136deg) translate(251px) rotate(-136deg);
 }
 
 .Physical {
    transform:rotate(181deg) translate(251px) rotate(-181deg);
 }
 
 .Spiritual{
    transform:rotate(226deg) translate(251px) rotate(-226deg);
 }
 
 .Social {
    transform:rotate(271deg) translate(251px) rotate(-271deg);
 }
 
 

















/* Will's CSS  */









































































/* Ripley's CSS  */










































































/* Paolo's CSS  */

