#container {
    display: grid;
    grid-template-columns: 150px;
    margin-left: -150px;
    grid-template-areas: 
    "main",
    "nav",
    "footer ";
}

#container > main{
    display: main;
    background: url(https://i.imgur.com/du3mREA.jpg) center no-repeat;
    background-size: cover;
}

img.headshot {
    grid-area: footer;
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 18%
}

li.pao {
    text-decoration-color: black;
    text-decoration-line: underline;
    font-size: 30px;
}

#blue{
    color: rgb(0, 132, 255);
}

#white{
    color: whitesmoke;
}
