#bgvid {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
  }

#home-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

#home-logo {
  margin-top: 40%;
  /* margin: auto auto; */
}

#activity-nav {
  display: flex;
  justify-content: space-around;
}

.fadeButton {
  display: none;
}

.container-wkb {
  display: flex;
  justify-content: center;
  align-items: center;
}

.myButton {
	transform: scale(1);
	animation: pulse 2.5s infinite;
  cursor: alias;
}

@keyframes pulse {
	0% {
		transform: scale(0.85);
	}

	70% {
		transform: scale(1);
	}

	100% {
		transform: scale(0.85);
	}
}

@media only screen and (min-device-width: 480px){}