body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
    margin: 0;
}

nav, footer.page-footer {
    background-color: black;
}

body #home-bg {
    background-image: url('https://i.imgur.com/RL9jHCZ.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 90vh;
    min-width: 100vh;
    margin: 0;
}

#daily-quote {
    font-size: 32px;
}

.btn-floating.category {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-height: 175px;
    min-width: 175px;
    margin: 35px;
}

.btn-floating.category > div {
    margin: 0;
}

.btn-floating.category.Mental {
    margin-bottom: 100px;
}

.btn-floating.category.Physical {
    margin-top: 100px;
}

.btn-floating.category.Environmental, .btn-floating.category.Social {
    margin-bottom: 0;
}

.btn-floating.category.Spiritual, .btn-floating.category.Emotional {
    margin-top: 0;
}