body {
    color: rgb(41, 41, 41);
    background-color: rgb(250, 250, 243);
}

.btn {
    font-family: 'Cormorant Garamond', serif;
}

#activity-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.activity-card {
    margin: 10px;
}

.card-content {
    background-color: rgb(212, 206, 193);
}

.btn-floating.lookat {
    background-color: rgb(250, 250, 243);
}

.btn-floating.log-del {
    background-color: rgb(250, 250, 243);
}

.btn-floating.log-del:hover {
    background-color: #E4584E;
}

.btn-floating.lookat:hover {
    transform: scale(1.25);
}

i.dark {
    color: rgb(41, 41, 41);
}

.cat-tag {
    display: inline;
    padding: 5px;
    border-radius: 2px;
}

.Emotional-tag {
    background-color: #FF7F7F;
}
.Environmental-tag {
    background-color: #FFD580;
}
.Mental-tag {
    background-color: #F1EB9C;
}
.Physical-tag {
    background-color: #a8e4a0;
}
.Social-tag {
    background-color: #add8e6;
}
.Spiritual-tag {
    background-color: #CBC3E3;
}

#activity-header, #activities-header, #activity-deets {
    display: flex;
    align-items: center;
}

#activity-header, #activities-header {
    justify-content: space-between;
}

#activity-deets {
    justify-content: space-evenly;
}

#activity-header a, #activities-header a, #activity-del a, #daily-quote a {
    background-color: rgb(41, 41, 41);
    margin: 10px 0 0 10px;
}

#activity-header a:hover, #activities-header a:hover, #activity-del a:hover, #daily-quote a:hover {
    transform: scale(1.25);
}

.act-descrip-card {
    padding: 10px 20px;
}

.log-card {
    width: fit-content;
}

#logger {
    margin: 20px;
}

.btn.submit {
    margin-top: 15px;
    background-color: rgb(41, 41, 41);
}

.btn.submit:hover {
    color: rgb(41, 41, 41);
    background-color: rgb(212, 206, 193);
}

.btn.confirm-del {
    margin-left: 15px;
}

.all-tag {
    background-color: rgb(212, 206, 193);
}