{% extends 'base.html' %}
{% block content %}

<section id="activity-header">
  <h1>{{ activity.title }}</h1>

  <div>
    <a class="btn-floating btn-large waves-effect waves-light" href="{% url 'activity_update' activity.id %}"><i class="material-icons">edit</i></a>
    <a class="btn-floating btn-large waves-effect waves-light" href="{% url 'activity_delete' activity.id %}"><i class="material-icons">delete_sweep</i></a>
  </div>
</section>

<section id="activity-deets">

  <div class="card">
    <div class="card-panel act-descrip-card">
      <p>{{activity.description}}</p>
    </div>
    <div class="card-action">
      {% for c in activity.categories.all %}
      <h5 class="cat-tag {{c.title}}-tag">{{ c.title }}</h5>
      {% endfor %}
    </div>
  </div>

  <div id="logger" class="card">
    <div class="card-content">
      <span class="card-title">Log time</span>
      <form action="{% url 'log_create' activity.id %}" method="POST">
        {% csrf_token %}
        {{ log_form.as_table }}
    </div>
    <div class="card-action">
      <input type="submit" class="btn" value="Add time">
      </form>
    </div>
  </div>
</section>

<section id="all-logs">
  {% for log in activity.log_set.all %}
    <div class="card log-card">
      <div class="card-panel">
        {{ log.date_completed }} | {{ log.duration_in_minutes }} mins
        <a class="btn-floating btn-small halfway-fab waves-effect waves-light log-del" href="{% url 'log_delete' activity.id log.id %}">
          <i class="material-icons dark">delete</i></a>
      </div>
    </div>
  {% endfor %}
</section>


<script>

  const dateEl = document.getElementById('id_date_completed');
  M.Datepicker.init(dateEl, {
    format: 'yyyy-mm-dd',
    defaultDate: new Date(),
    setDefaultDate: true,
    autoClose: true
  });

</script>

{% endblock %}