{% extends 'base.html' %}
{% block content %}

{% if category %}
  <h1>{{ category }} activities</h1>
{% else %}
  <h1>All activities</h1>
{% endif %}

{% for activity in activities %}
  <a href="{% url 'activity_detail' activity.id %}">
    <div class="card">
        <div class="card-content">
            <span class="card-title">{{ activity.title }}</span>
            <p>{{ activity.description }}</p>
        </div>
    </div>
  </a>
{% endfor %}

{% if category %}
<div id="line" style="width: 75%;">
  <canvas id="line-chart"></canvas>
</div>

<script>
    
  const data = {
      labels: [
        'test',
        'test1'
      ],
      datasets: [{
          label: '{{ category|safe }}',
          data: [65, 59, 90, 81, 56, 55],
          fill: true,
          backgroundColor: 'rgba(255, 99, 132, 0.2)',
          borderColor: 'rgb(255, 99, 132)',
          pointBackgroundColor: 'rgb(255, 99, 132)',
          pointBorderColor: '#fff',
          pointHoverBackgroundColor: '#fff',
          pointHoverBorderColor: 'rgb(255, 99, 132)'
      }]
  };

  const config = {
      type: 'line',
      data: data,
  };

  window.onload = function() {
    var ctx = document.getElementById('line-chart').getContext('2d');
    window.myLine = new Chart(ctx, config);
  };
</script>
{% endif %}


{% endblock %}