{% extends 'base.html' %}
{% block content %}

{% if category %}
  <h1>{{ category }} activities</h1>
{% else %}
  <h1>All activities</h1>
{% endif %}

<section id="cat-select">

</section>

<section id="activity-cards">

{% for activity in activities %}
  <div class="card activity-card">
    <div class="card-image">
      <img src="https://i.imgur.com/Nn49ret.png">
      <span class="card-title">{{ activity.title }}</span>
      <a class="btn-floating halfway-fab waves-effect waves-light lookat" href="{% url 'activity_detail' activity.id %}">
        <i class="material-icons dark">search</i></a>
    </div>
    <div class="card-content">
        {% for c in activity.categories.all %}
          <p class="cat-tag {{c.title}}-tag">{{ c.title }}</p>
        {% endfor %}
        <br>
        <br>
      <p>{{ activity.description }}</p>
    </div>
  </div>
{% endfor %}

</section>

{% endblock %}